{{> head }}
{{> navbar }}



<div class="row">

    <div class="col-8">
        <h1>About Us</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quasi temporibus laboriosam doloribus culpa vel. Autem assumenda nesciunt modi velit laudantium? Quam inventore rerum doloribus animi, obcaecati repellat eos quis.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/260px-Yin_yang.svg.png" alt="" class="img-thumbnail">
    </div>

</div>




{{> footer }}